body {
    margin: 0;
    padding: 0;
}

a {text-decoration: none;}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    color: #353333;
    width: 100%;
    padding: 0px 200px 0px 180px;
    a:visited { text-decoration: none; color:#353333; }

    &__nav {
        border-bottom: 1px solid rgba(53, 51, 51, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav__buttons {
            display: flex;
            .button {
                position: relative;
                display: inline-block;
                padding: 40px 40px 40px 0px;

                &__content {
                    display: none;
                    position: absolute;
                    left: -25px;
                    background-color: white;
                    min-width: 344px;
                    min-height: 221px;
                    box-shadow: -3px 3px 10px rgba(29, 27, 27, 0.14);
                    z-index: 1;
                    margin-top: 17px;

                    .main__content {
                        font-size: 18px;
                        line-height: 20px;
                        display: block;
                        padding: 12px 0px 12px 19px;
                        
                        border-bottom: 1px solid rgba(159, 123, 80, 0.25);
                        
                    }
                    .main__content:hover {
                        background-color: #725C44;
                        color: white;
                    }

                } 
                &:hover .button__content {
                    display: block;
                }
            }
            .button:nth-child(5) {
                padding-right: 20px;
            }
            .button:last-child {
                padding-right: 0px;
            }
        }
        .nav__phone {
            line-height: 20px;
            font-size: 22px;
            justify-content: space-between;
            display: flex;
            .phone__icon {
                margin-right: 11px;
            }
        }
    }
}

.footer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: white;
    background-color: #353333;
    width: 100%;
    

    a:visited { text-decoration: none; color: #FFFFFFB2; }
    
    &__up {
        display: flex;
        justify-content: space-between;
        padding: 21px 191px 28px 186px;
        
        .product__type {
            color: rgba(255, 255, 255, 0.5);
        }
    

        .contacts {
            
            .time {
                width: 172px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                &__img {
                    width: 21px;
                    height: 21px;
                }
                &__text {
                    width: 146px;
                    height: 50px;
                    line-height: 25px;
                    color: rgba(255, 255, 255, 0.7);
                }

            }
            .phone__number {
                font-size: 22px;
                line-height: 20px;

            }
            .email {
                width: 147px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgba(255, 255, 255, 0.7);

                &__text {
                    font-size: 16px;
                    line-height: 20px;

                }
                &__img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    } 
    &__low {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        line-height: 19px;
        margin: 0px 199px 0px 199px;
        padding-top: 11px;
        padding-bottom: 29px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);;

        .copyright {
            width: 667px;
            display: flex;
            justify-content: space-between;

            &__2 {
                color: rgba(255, 255, 255, 0.7);
            }
        }
    }  
}